<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projeto Integrado</title>

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="./skeleton-frame/css/normalize.css">
	<link rel="stylesheet" href="./skeleton-frame/css/skeleton.css">
	
	<style>

		body{
			font-family: 'Roboto', sans-serif;
		}

		header{
			background-color: #C4C4C4;
		}
		
		div.row{
			padding-top: 20px;
		}

		.left{
			background-color: #C4C4C4;
		}

		.rigth{
			background-color: #C4C4C4;
		}
		
		.center{
			background-color: #C4C4C4;
		}
		.bg{
			background-color: #C4C4C4;
		}
		.head-title{
			padding-left: 20px;
			padding-top: 20px;
			color: black;
		}

		.button-primary{
			color: black!important;
		}

	</style>
</head>
<body>

	<div class="container-fluid">

		<header class="row" >

			<div class="twelve columns" >

				<h3 class="head-title text-center">
					<center>
						VICTOR - PI MQTT</h3>
					</center>
			</div>

		</header>


		<div class="row">

			<div class="left four columns" style="border-radius: 10px;" >
				<div class="row" style="padding: 10px 10px 0px 10px;">
					<textarea name="" id="" cols="59" rows="10" class="twelve columns" style=" margin-top: 5px; height: 500px;">
					</textarea>
				</div>

				<div class="row">
					<input class="nine columns" type="text" name="" id="" style="margin-left: 10px;">
					<input type="button" value="Send" class="button-primary u-pull-right" style="margin-right: 10px; border: 2px solid black;" >
				</div>

			</div>
			
			<div class="center eight columns">
				<h3>Mapa</h3>
			</div>

		</div>
		
		<footer class="row">

			<div class="twelve columns">

			</div>

		</footer>

	 </div>


</body>
</html>