<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket IO Dojot Teste</title>
</head>
<body>

    <!-- FrameWork de Request -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
    
    const url    = "198.199.123.83";
    const port   = "8000";
    const auth   = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJxSVJCaFlsR0g5ZHl6QlM4WUh0TU1tTU56cjY3dWhJaSIsImlhdCI6MTYwNjE4OTc1NywiZXhwIjoxNjA2MTkwMTc3LCJwcm9maWxlIjoiYWRtaW4iLCJncm91cHMiOlsxXSwidXNlcmlkIjoxLCJqdGkiOiI1M2Q4ZDYxNmFjZTYxODA3NWEzZmI3ZWVhM2QyYzg2YiIsInNlcnZpY2UiOiJhZG1pbiIsInVzZXJuYW1lIjoiYWRtaW4ifQ._mHz6fgGJzh5wCzeNORnPgvADJTDbLOGyXasHb1Mbog";
    const device = "deb8e7";

    function BuscarDojot(){
        var options = {
            method: 'GET',
            url: `http://${url}:${port}/history/device/${device}/history?lastN=1&attr=latitude,longitude`,
            data: {},
            headers: {
                'Authorization': `Bearer ${auth}`,
                'Referer':'http://198.199.123.83:8000/',
                'Host':'198.199.123.83:8000',
                'Cookie': 'io=9pNpWbcKYdlWZHD9AABW'
            },
            transformResponse: [(dados) => {
                console.log("ANTES DE CADASTRAR VACA AXIOS")
                return dados
            }]
        };
        
        // send the request
        axios(options)
            .then(response => {
                data = JSON.parse(response.data)
                console.log(data)
            })
            .catch(error => {
                console.log(error)
            })
    }

    BuscarDojot();

    </script>
</body>
</html>